*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: lato, Roboto;
    margin: 0;
    max-width: 1369px;
}
.topnav a{
    text-decoration: none;
    color: black;
    margin-left: 72px;
}
#site-logo{
    padding: 0;
}
#topbg{
    background-color: #ffffff;
    padding: 30px 0 30px 0;
}
.trialbtn{
    width: 183px;
    height: 51px;
    margin: 0px 0 17px 35px;
    background-color: #01996D;
    color: #ffffff;
    border-radius: 0.3em;
    border-color: #ffffff;
}